<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#"
        >ToDo Management<span>&nbsp;{{ version }}</span></b-navbar-brand
      >
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/">Home</b-nav-item>
          <b-nav-item to="/about">About</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Axios from 'axios-observable';

export default Vue.extend({
  data: () => {
    return { version: 'v0.0.0' };
  },
  mounted() {
    Axios.get('http://localhost:3000/version').subscribe(
      response => (this.version = response.data),
      error => console.log(error)
    );
  },
});
</script>
>
