<template>
  <div>
    <b-button v-b-toggle.collapse-1 variant="primary">Add new Todo</b-button>
    <b-collapse id="collapse-1" class="mt-2">
      <b-card>
        <div class="card-text">
          <b-form-input
            v-model="todoTitle"
            placeholder="ToDo Title"
          ></b-form-input>
          <div class="mt-2">Title: {{ todoTitle }}</div>
          <b-button v-b-toggle.collapse-1 variant="secondary" @click="saveTodo"
            >Save</b-button
          >
        </div>
      </b-card>
    </b-collapse>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Axios from 'axios-observable';

@Component({
  name: 'the-new-todo',
})
export default class TheNewTodo extends Vue {
  todoTitle = '';

  saveTodo() {
    Axios.post('http://localhost:3000/todo', {
      title: this.todoTitle,
    }).subscribe(
      response => {
        console.log(response);
        this.$root.$emit('newTodoAdded');
      },
      error => {
        console.log(error);
      }
    );
  }
}
</script>
