<template>
  <div>
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Open" active>
          <b-card-text
            ><todo-item :todos="openTodos" @clicked="updateTodos"
          /></b-card-text>
        </b-tab>
        <b-tab title="Completed">
          <b-card-text
            ><todo-item :todos="completedTodos" @clicked="updateTodos"
          /></b-card-text>
        </b-tab>
        <b-tab title="All">
          <b-card-text
            ><todo-item :todos="todos" @clicked="updateTodos"
          /></b-card-text>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import TodoItem from '@/components/home/TodoItem.vue';
import { Todo as TodoType } from '@/components/todo.interface';
import { AxiosResponse } from 'axios';
import TodoService from '@/components/home/todo.service';
import { Subject } from 'rxjs';
import { takeUntil } from 'rxjs/operators';

@Component({
  name: 'the-todo-tab',
  components: { TodoItem },
})
export default class TheTodoTab extends Vue {
  todos: TodoType[] = [];

  private todoService: TodoService;
  private subject$ = new Subject();

  constructor() {
    super();
    this.todoService = new TodoService();
  }

  mounted() {
    this.getTodos();
    this.$root.$on('newTodoAdded', () => {
      this.getTodos();
    });
  }

  destroyed() {
    this.subject$.complete();
  }

  updateTodos() {
    this.getTodos();
  }

  getTodos() {
    this.todoService
      .getTodos()
      .pipe(takeUntil(this.subject$))
      .subscribe(
        (response: AxiosResponse) => (this.todos = response.data),
        (error: Error) => console.error(error)
      );
  }

  get allTodos(): TodoType[] {
    return this.todos;
  }

  get completedTodos(): TodoType[] {
    return this.todos.filter(todo => todo.completed === true);
  }

  get openTodos(): TodoType[] {
    return this.todos.filter(todo => todo.completed === false);
  }
}
</script>
