<template>
  <div>
    <b-table-simple>
      <b-tbody>
        <b-tr v-for="todo of listTodos" :key="todo.ID">
          <b-td
            ><b-button pill @click="completeTodo(todo)">{{
              getCompleteText(todo)
            }}</b-button></b-td
          >
          <b-td>{{ todo.title }}</b-td>
          <b-td>
            <b-button @click="confirmDeletion(todo)">Delete</b-button>
          </b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import Axios from 'axios-observable';
import { Todo as TodoType } from '@/components/todo.interface';
import { ModalPlugin } from 'bootstrap-vue';

Vue.use(ModalPlugin);

@Component({
  name: 'todo-item',
})
export default class TodoItem extends Vue {
  @Prop() todos!: TodoType[];
  todosData: TodoType[] = this.todos;
  private apiServer = 'http://localhost:3000';

  get listTodos(): TodoType[] {
    return this.todos;
  }

  completeTodo(todo: TodoType) {
    if (todo.completed) {
      Axios.put(`${this.apiServer}/todo/${todo.ID}/uncomplete`).subscribe(
        () => this.$emit('clicked'),
        error => console.log(error)
      );
    } else {
      Axios.put(`${this.apiServer}/todo/${todo.ID}/complete`).subscribe(
        () => this.$emit('clicked'),
        error => console.log(error)
      );
    }
  }

  confirmDeletion(todo: TodoType) {
    this.$bvModal
      .msgBoxConfirm(`Please confirm to delete the todo '${todo.title}'.`, {
        title: 'Please Confirm',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'Delete',
        cancelTitle: 'Cancel',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true,
      })
      .then(() => this.deleteTodo(todo))
      .catch((err: Error) => console.error(err));
  }

  getCompleteText(todo: TodoType): string {
    return todo.completed ? 'Uncomplete' : 'Complete';
  }

  deleteTodo(todo: TodoType) {
    Axios.delete(`${this.apiServer}/todo/${todo.ID}`).subscribe(
      () => this.$emit('clicked'),
      error => console.log(error)
    );
  }
}
</script>
