<template>
  <div class="home">
    <the-new-todo />
    <the-todo-tab />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TheTodoTab from '@/components/home/TheTodoTab.vue';
import TheNewTodo from '@/components/home/TheNewTodo.vue';

@Component({
  name: 'Home',
  components: {
    TheTodoTab,
    TheNewTodo,
  },
})
export default class Home extends Vue {}
</script>

<style lang="scss">
div.home {
  padding-top: 2rem;
}
</style>
